.service {
     .service-item {
          background-color: $primary;
          height: 25vh;
          border-radius: $border-radius-lg;
          display: block;
          text-decoration: none;
          z-index: 0;
          overflow: hidden;
          position: relative;
          top: 0;
          
          &:hover {
               box-shadow: $box-shadow-lg !important;
               transition: all 0.25s ease-out;
               top: -5px;
               border: 1px solid $primary !important;
          }
     }
}
