
#specialization{
     .list-inline-item {
          margin-right: 4rem;
     }
}


// For ipad view
@media (max-width: 768px) {
     #specialization{
          text-align: center;
          .list-inline-item {
               margin-left: 2rem;
               margin-right: 2rem;
          }
     }
}